.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

.App-link {
  color: #61dafb;
}


p {
  max-width: 80%;
  text-align: left;
}